.auth-fieldset{
    margin: 10px;
    border: none;

}

.auth-button{
    background-color:  #FE5401;
}

.register-link{
    color:  #5300FE;
}

.auth-form-input{
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}